<h2>Repositories</h2>
<div>
  <%= link_to "Add Repository", new_repository_path %>
  <ul>
    <% @repositories.each do |repo| %>
      <li>
        <%= link_to repo.full_name, repo %>
      </li>
    <% end %>
  </ul>
</div>
