<div class="tags">
  <h2 class="mx-2 mt-4 p-2 text-gray-600 font-bold text-xl">
    Choose Tags
  </h2>

  <hr class='mx-4 border-b border-gray-500 w-24'/>

  <%= render partial: 'tag', collection: @tags %>
</div>


